

.App {
  padding-left: 20px;
}

.journey {
  height: 300px;
  width: 200px;
  position: relative;
  /* background: gray; */
}

@property --percentage{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.journey::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: 2px;

  background: linear-gradient(
    to bottom, 
    green,
    green calc(var(--percentage) * 1%),
    red calc(var(--percentage) * 1%),
    red
  );
} 




.pie {
  --percentage:20;
  --color:tomato;
  --width: 18px;
  
  width:var(--width);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;  
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--color),#0000) top no-repeat,
    conic-gradient(var(--color) calc(var(--percentage)*1%),#0000 0);
}
.pie:after {
  inset:50%;
  background:var(--color);
  transform:rotate(calc(var(--percentage)*3.6deg)) translateY(calc(50% - var(--width)/2));
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
