.App {
  padding-left: 50px;
}

.journey {
  height: 300px;
  width: 200px;
  position: relative;
  /* background: gray; */
}


.journey::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  width: 2px;
  z-index: -1;

  background: linear-gradient(
    to bottom, 
    green,
    green calc(var(--percentage) * 1%),
    red calc(var(--percentage) * 1%),
    red
  );
} 



.pie-wrapper {
  position: absolute;
  left: -33px;
  top: 10px;
}

.bg-pie {
  display:flex;
  align-items:center;
  justify-content: center;
  position: relative;
    width: 24px;
    height: 24px;
    background-color: white;
    border: 2px solid green;
    border-radius: 50%;  /* This ensures the shape is a circle */
    box-sizing: border-box;  /* This ensures that the border width is included in the total width and height */
}

.bg-pie::before {
  content: '';
  display: block;
  width: 10px;
  position: absolute;
  background: white;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.pie {
  box-sizing: border-box;
  --percentage:20;
  --color:green;
  --size: 18px;
  
  width:var(--size);
  height:var(--size);
  position:relative;
  /* display:inline-grid; */
  /* place-content:center; */
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;  
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--color),#0000) top no-repeat,
    conic-gradient(var(--color) calc(var(--percentage)*1%),#0000 0);
}
.pie:after {
  inset:50%;
  background:var(--color);
  transform:rotate(calc(var(--percentage)*3.6deg)) translateY(calc(50% - var(--size)/2));
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
